@import 'tailwindcss';

.container{
    padding-left:10px;
    padding-right:10px;
}
.btn{
    animation: grow 2s ease-in-out infinite;
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); 
  }
  100% {
    transform: scale(1);
  }
}